// Include custom variables default overrides here

//Map

//Merge Map
@import "bootstrap/scss/bootstrap";
@import "base/_variables";
@import "base/_fonts";
@import "components/_button";
@import "layout/_header";
@import "layout/_footer";

// Home Page
@import "modules/_home-banner";
@import "pages/_homepage";
@import "modules/_proud-member";

// Vacation Pages
@import "modules/_banner";
@import "modules/_vacation-card";
@import "pages/_vacations-page";
@import "pages/_disney-page";
@import "pages/_cruises-page";
@import "pages/_honeymoon-wedding-page";
@import "pages/_all-inclusive-page";

// Category Page
@import "modules/_blog-posts";

// About Jen Page
@import "modules/_about-jen";

// Single Blog Page
@import "modules/_single-banner";
@import "modules/_single-content";
@import "modules/_single-inspired-section";
@import "modules/_meet-jen-widget";

//Quote Page
@import "pages/_quote-page";

//Contact Page
@import "pages/_contact_page";

//Special Deals Page
@import "pages/_special_deals";

//Error 404 Page
@import "pages/_404-page";

//Slider
@import "modules/_slider";
@import "modules/_specialties";

//Subscription
@import "modules/_subscription";

//Instagram
@import "modules/_instagram";

//Accordion FAQs
@import "modules/_faqs";

//Search Result
@import "modules/_search";


// Then add additional custom code here
/******************* LAYOUT ********************/

a {
  text-decoration: none;
}

.title-dropshadow {
  text-shadow: 3px 5px 2px #32050750;
}

.img-rounded {
  border-radius: 0.875rem;
}

.entry-content {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.actual-content .wp-block-cover {
  width: 100%;
  margin-left: 0;
}
