

// Include custom variables default overrides here


$line-height: 32px;

h1,h2,h3,h4,h5,h6,p{
  line-height: $line-height;
}


//Map


//Merge Map
@import "base/variables";
@import "components/buttons";
@import "bootstrap/scss/bootstrap";
@import "layout/header";

// Category Page
@import "modules/blog-posts";

// Single Blog Page
@import "modules/single-banner";
@import "modules/single-content";
@import "modules/single-inspired-section";
@import "modules/meet-jen-widget";


@import "layout/footer";



// Then add additional custom code here
/******************* LAYOUT ********************/
.entry-content {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
} 

.wp-block-cover:nth-of-type(1) {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.actual-content .wp-block-cover {
  width: 100%;
  margin-left: 0;
}


/***************** Testimonial Carousel *****************/
.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.slider .slider-inner {
  display: flex;
  transition: transform 0.5s ease;
}
.slider .slider-item {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  opacity: 1;
  display: none;
}
.slider .slider-item.active {
  display: block;
}

.slider-control {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-control button {
  background-color: transparent;
  border: none;
}
.slider-control button i {
  font-size: 1.5rem;
  color: #CE5927;
}

