.meet-jen-blog-section {
  margin: 4rem 0;

  display: flex;
  flex-direction: column;
  align-items: center !important;
  gap: 1rem;

  // @media screen and (min-width: 768px) {
  //   >div:nth-child(2) {
  //     a {
  //       width: 30vw;
  //     }
  //   }
  // }
}

.meet-jen-blog-section > div:first-child > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 6px 4px 0px rgba(50, 5, 7, 0.25);
}


@media (min-width: 780px) {
  .meet-jen-blog-section {
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    >div:nth-child(2) {
      >div:first-child {
        justify-self: flex-end;
      }

      a {
        width: 30vw;

        @media screen and (min-width: 1024px) {
          width: 20vw;
        }
      }
    }
  }
}

