@mixin media($breakpoint){
  @if $breakpoint == large {
    @media (min-width: 1024px) {
      @content;
    }
  }
}

.no-results{
  text-align: center;
  margin: 100px 0;
  padding: 0 5%;
}

.page-content {
  p{
    margin-bottom: 2rem;
  }

  a{
    @include button-base($light-orange, 1px solid $light-orange);
    width: auto;
    text-transform: uppercase;
    font-weight: 500;
  }
  
}

.page-header{
  .page-title{
    text-align: center;
    margin-bottom: 5rem;
  }
}


.breadcrumbs{
  padding: 0 5%;
  
  @include media(large){
    padding: 0;
  }

  a{
      color: $off-black;
    }
  a:hover{
      text-decoration: underline;
    }
}

.row{
  .search-result{
    list-style: none;
    h4:hover{
      text-decoration: underline;
    }
  }
}