.inspired-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  background-color: $cream;
  border-radius: 10px;
  box-shadow: 0px 6px 4px 0px rgba(50, 5, 7, 0.25);
}

.inspired-heading{
  margin-bottom: 1.5rem;
}

.inspired-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vacation-option,
.travel-advice
{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.vacation-option div,
.travel-advice div{
  align-self: center;
}


.button-primary__vacation-link,
.button-primary__advice-link
{
  @include button-base($light-orange, 2px solid $light-orange);
  min-width: 200px;
}

.horizontal_line {
  width: 90%;
  margin: 0 auto;
  height: 3px;
  border-top: 2px dotted black;
  line-height: 80%;
}

.travel-advice{
  border-top: 2px dotted black;
  margin: 1.5rem 0;
}

.travel-advice>p {
  margin-top: 1rem;
}

@media (min-width:768px) {

  .inspired-section{
    padding: 3.5rem;
  }

  .inspired-content {
    flex-direction: row;
    gap: 2rem;
}

.inspired-content>div>p {
  max-width: 220px;
  margin: 0 auto;
}

  .vertical_line{
    border-left: 3px dotted black;
    height: 200px;
  }

.vacation-option, .travel-advice {
    width: 100%;
    height: 120px;
    text-align: center;
    margin-bottom: 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    align-items: flex-end;
}

.vacation-option div,
.travel-advice div{
  margin: auto 0;
}


  .inspired-heading{
    align-self: center;
  }

  .travel-advice{
    border-top: none;
    margin-top: 0;
  }

  .travel-advice>p {
    margin-top: 0;
  }
}
