.faqs {
    margin: 4rem 0;

    .faqs-intro {
        width: 100% !important;

        @media screen and (min-width: 1024px) {
            width: 50vw !important;
        }

        h3 {
            color: $dark-red;
        }
    }

    .faqs-content {
        .wp-block-details {
            transition: all 0.5s ease-in-out;
            border: 1px solid $dark-red;

            > :where(:not(summary)) {
                margin-right: 1rem;
                margin-left: 2rem;
            }

            &[open] {
                padding-bottom: 2rem;

                summary {
                    position: relative;
                    &::after {
                        content: "";
                        text-align: center;
                        width: 12px;
                        height: 12px;
                        border-bottom: 3px solid $dark-red;
                        border-right: 3px solid $dark-red;
                        transform: rotate(-135deg);
                        margin-bottom: 5px;
                    }
                }
            }

            summary {
                box-sizing: border-box;
                padding: 2rem;
                font-weight: 700;
                color: $dark-red;
                position: relative;

                &::marker {
                    content: none;
                }

                &::after {
                    content: "";
                    text-align: center;
                    width: 12px;
                    height: 12px;
                    border-bottom: 3px solid $dark-red;
                    border-right: 3px solid $dark-red;
                    transform: rotate(45deg);
                    margin-top: 5px;
                    display: inline-block;
                    position: absolute;
                    top: 35%;
                    right: 5%;
                }
            }
        }
    }
}