.quote-page {
    background: url("../img/tropical-abstract-bg6.webp") center center / cover no-repeat;
    padding-bottom: 5rem;

    @media screen and (min-width: 950px) {
        padding-top: 5rem;
    }
}

.quote-form {
    background-color: $cream;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem 4rem;
    position: relative;
    margin-top: -5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 6px 4px 0px rgba($dark-red, 0.25);
    border: 1px solid rgba($dark-red, 0.25);
    z-index: 2;
    width: 70%;
    max-width: 960px;

    @media screen and (min-width: 950px) {
        padding-bottom: 7rem;
    }

    .steps-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        box-shadow: unset;

        .steps-step {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background-color: $white;
            padding: 10px;
            border-radius: 15px;

            p {
                margin: 0 !important;
            }

            .step-number {
                width: 30px;
                height: 30px;
                line-height: 30px;
                background-color: $light-orange;
                color: $dark-red;
                font-weight: 500;
                border-radius: 50%;
                text-align: center;
                transition: background 0.3s, color 0.3s;
            }

            .step-info {
                display: none;
            }

            &:not(:last-child)::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 100%;
                width: 100%;
                height: 2px;
                background-color: $dark-red;
                transform: translateY(-50%);

                @media screen and (min-width: 450px) {
                    width: calc(100% + 10vw);
                }

                @media screen and (min-width: 550px) {
                    width: calc(100% + 13vw);
                }

                @media screen and (min-width: 650px) {
                    width: calc(100% + 17vw);
                }

                @media screen and (min-width: 800px) {
                    width: calc(100% + 20vw);
                }
            }

            &.active {
                background-color: $light-orange;
            }

            &.active .step-number {
                background-color: $white;
            }
        }
    }

    .form-container {
        margin-top: 3rem;

        form {
            .form-title {
                border-bottom: 1px solid $dark-green;

                h3 {
                    color: $dark-green;
                }
            }

            .uacf7-step {
                position: relative;
                

                .uacf7-col-4,
                .uacf7-col-6,
                .uacf7-col-12 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 8px;
                    margin: 0.5rem 0;

                    label {
                        font-weight: 700;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                    }

                    span {
                        input {
                            padding: 10px 20px;
                            border: 1px solid rgba($dark-red, 0.25);
                            border-radius: 8px;
                        }

                        select {
                            border: 0;
                            vertical-align: middle;
                            -webkit-appearance: none;
                            appearance: none;
                            padding: 10px 20px;
                            border: 1px solid rgba($dark-red, 0.25);
                            border-radius: 8px;
                            cursor: pointer;

                            &::after {
                                content: '\2304';
                                font-size: 30px;
                                line-height: 23px;
                                padding-right: 2px;
                            }
                        }
                    }
                }

                &.step-start {
                    p:not(.form-intro) {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        left: 20%;
                        gap:1rem;
    
                        @each $breakpoint, $value in (450px:30%, 750px: 35%, 900px: 40%) {
                            @media screen and (min-width: $breakpoint) {
                                left: $value;
                            }
                        }
                        
                        .uacf7-prev,
                        .uacf7-next {
                            margin: 0;
                        }
    
                        .uacf7-next {
                            width: 150px !important;
                            @include button-base($light-orange, 1px solid $light-orange);
    
                            &:hover {
                                background-color: $white;
                                color: $dark-green;
                                border: 1px solid $dark-green;
                            }
                        }
    
                        span.wpcf7-spinner {
                            background-color: $dark-red;
                            order: -2;
                        }
                    }
                }

                &.step-end {
                    .submit-btn {

                        input {
                            @include button-base($white, 1px solid $dark-green);
    
                            &:hover {
                                background-color: $light-orange;
                                color: $dark-red;
                            }
                        }

                        p {
                            .uacf7-prev {
                                width: 150px !important;
                                @include button-base($light-orange, 1px solid $light-orange);
    
                                &:hover {
                                    background-color: $white;
                                    color: $dark-green;
                                    border: 1px solid $dark-green;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        margin-top: 0;

        .steps-container {
            .steps-step {
                gap: 10px;
                min-width: 200px;

                .step-info {
                    display: inline-block;
                }

                &:not(:last-child)::after {
                    width: 100%;
                }
            }
        }

        .form-container {
            form {
                .form-title {
                    display: flex;
                    width: 100%;
                    gap: 1rem;

                    h3 {
                        width: calc((100%/2) - 1rem);
                    }

                    p {
                        width: calc((100%/2) - 1rem);
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1100px) {

    }
}