.no-results{
  text-align: center;
  margin: 100px 0;
  padding: 0 5%;
}

.page-content {
  p{
    margin-bottom: 2rem;
  }
  a{
    @include buttons-design($light-orange, 16px 20px);
    @include buttons-hover();
    text-transform: uppercase;
    font-weight: 500;
  }
  
}

.page-header{
  .page-title{
    text-align: center;
  }
}