.inspired-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  margin: 0 5%;
  background-color: $cream;
  height: 450px;
  border-radius: 10px;
}

.inspired-heading{
  margin-bottom: 24px;
}

.inspired-content{
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
}

.vacation-option,
.travel-advice
{
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.vacation-option div,
.travel-advice div{
  align-self: center;
}


.button-primary__vacation-link,
.button-primary__advice-link
{
  @extend %button-styles;

  background-color: $light-orange;
  border: 2px solid $light-orange;
  padding: 16px 30px;
  width: 180px;

  @extend %button-hover;
}

.horizontal_line {
  width: 90%;
  margin: 0 auto;
  height: 3px;
  border-top: 3px dotted black;
  line-height: 80%;
}


@media (min-width:768px) {
  .inspired-heading{
    align-self: center;
  }
  .inspired-content{
    flex-direction: row;
  }
  .horizontal_line{
    display: none;
  }
  .vertical_line{
    border-left: 3px dotted black;
    height: 200px;
  }
  .vacation-option,
  .travel-advice{
    max-width: 250px;
  }
}

@media (min-width:1024px) {
  .inspired-section{
    max-width: 1024px;
    margin: 0 auto;
  }
}