.site-footer__col-one,
.site-footer__col-three,
.site-footer__col-four,
.site-footer__col-five {
  margin-bottom: 2rem;
}

.site-footer__col-one div,
.site-footer__col-five div {
  margin-top: 0;
}

.widget {
  margin: 0;
}

.widget p {
  margin-bottom: 0;
}

.site-footer__col-two,
.site-footer__col-three {
  padding: 0 35px;
}

footer {
  text-align: center;
  margin-top: 80px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul#menu-footer-1.menu,
ul#menu-footer-2.menu,
ul#menu-additional-info-footer.menu {
  margin: 0;
  padding: 0;
}
.menu-footer-1-container ul li,
.menu-footer-2-container ul li,
.menu-additional-info-footer-container ul li {
  padding: 0 0 15px 0;
  list-style: none;
}
.menu-footer-1-container ul li a,
.menu-footer-2-container ul li a,
.site-footer__col-four a {
  color: $dark-red;
  text-decoration: none;
  font-weight: 600;
}

.site-footer__col-four p {
  color: $dark-red;
  font-weight: 700;
}

.menu-footer-1-container ul li a:hover,
.menu-footer-2-container ul li a:hover,
.site-footer__col-four a:hover {
  color: $light-orange;
}

.site-footer__col-five {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.site-footer__col-five .wp-block-buttons {
  flex-direction: column;
}

a.wp-block-button__link {
  background-color: $light-orange;
  color: $dark-red;
  border-radius: 8px;
  width: 180px;
}
a.wp-block-button__link:hover {
  background-color: $dark-green;
  color: $cream;
}

div.menu-additional-info-footer-container {
  margin-top: 10px;
}
.footer-btn-get-a-quote a {
  @include button-base($light-orange, 2px solid $light-orange);
  min-width: 175px;
}

.footer-btn-contact-jen a {
  @include button-base($white, 2px solid $dark-green);
  min-width: 175px;
}

.footer-btn-quote,
.footer-btn-contact-jen {
  min-width: 175px;
}

.footer_copy_right {
  background-color: $cream;
  padding: 2rem 1rem;

  p {
    text-align: center;
    font-family: "Young Serif", serif;
    font-size: clamp(1rem, 0.9091rem + 1.7045vw, 1.25rem);
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  footer {
    text-align: left;
  }

  .group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  div.menu-additional-info-footer-container {
    margin-top: 35px;
  }

  .site-footer__col-one div p {
    .widget p {
      margin-bottom: -5px;
      text-align: start;
    }

    .menu-footer-1-container ul li,
    .menu-footer-2-container ul li,
    .menu-additional-info-footer-container ul li {
      padding: 0 0 35px 0;
      list-style: none;
    }

    .wp-block-buttons {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .site-footer__col-five {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-top: 24px;
  }
  .site-footer__col-five .footer-buttons {
    .site-footer__col-five .wp-block-buttons {
      flex-direction: row;
    }
  }
}
