.site-footer__col-one,
.site-footer__col-three,
.site-footer__col-four,
.site-footer__col-five
{
  margin-bottom: 2rem;
}

.widget {
  margin: 0;
}

.widget p{
  margin-bottom: 0;
}


.site-footer__col-two,
.site-footer__col-three
{
  padding: 0 35px;
}
.site-footer{
  text-align: center;
  margin-top: 24px;
  // background-color: lightblue;
}

.group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  // gap: 10px;
}

ul#menu-footer-1.menu,
ul#menu-footer-2.menu,
ul#menu-additional-info-footer.menu
{
  margin: 0;
  padding: 0;
}
.menu-footer-1-container ul li,
.menu-footer-2-container ul li,
.menu-additional-info-footer-container ul li
{
  padding: 0 0 15px 0;
  list-style: none;
}
.menu-footer-1-container ul li a,
.menu-footer-2-container ul li a,
.site-footer__col-four a
{
  color: $dark-red;
  text-decoration: none;
  font-weight: 600;
}

.site-footer__col-four p{
  color: $dark-red;
  font-weight: 700;  
}

.menu-footer-1-container ul li a:hover,
.menu-footer-2-container ul li a:hover,
.site-footer__col-four a:hover
{
  color: $light-orange;
}

.site-footer__col-five{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-footer__col-five .wp-block-buttons{
  flex-direction: column;
}

a.wp-block-button__link{
  background-color: $light-orange;
  color: $dark-red;
  border-radius: 8px;
  width: 180px;
}
a.wp-block-button__link:hover{
  background-color: $dark-green;
  color: $cream;
}

div.menu-additional-info-footer-container{
  margin-top: 10px;
}

.footer-btn-contact-jen{

  @extend %button-styles;

  background-color: #fff;
  border: 2px solid $dark-green;


  @extend %button-hover;

}
.footer_copy_right{
  background-color: $cream;
  padding: 40px 0;
}

@media (min-width: 768px) {
  .group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  div.menu-additional-info-footer-container{
    margin-top: 29px;
  }

  .widget p{
    margin-bottom: -10px;
    text-align: start;
  }

.menu-footer-1-container ul li,
.menu-footer-2-container ul li,
.menu-additional-info-footer-container ul li
{
  padding: 0 0 35px 0;
  list-style: none;
}

.wp-block-buttons {
  display: flex;
  flex-direction: column;
}

}

@media (min-width:768px) and (max-width:990px) {
  .site-footer__col-five{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-top: 24px;
  }
  .site-footer__col-five .wp-block-buttons{
    flex-direction: row;
  }
}
