//Query Media

@mixin media($breakpoint) {
  @if $breakpoint == large {
    @media (min-width:1023px) {
      @content;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.site-overlay{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;

}

.site-overlay.is-active{
  display: block;

  @include media(large){
    display: none;
  }
}
/**** base on mobile ****/
.top-header{
  display: none;
}

.site-header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  // z-index: 100;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

.search-container i{
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

.search-container input{
  width: 100%; /* Set input to 70% width */
  padding-left: 5px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.site-header__util{
  display: none;
  z-index: 2;
}

#primary-menu{
  display: none;
}

.hamburger{
  width: 50px;
  height: 50px;
  // background-color: purple;
  margin-left: auto;
  position: relative;
  // z-index: 100;
  cursor: pointer;

  @include media(large){
    display: none;
  }

  &__span{
    height: 5px;
    width: 100%;
    background-color: $dark-red;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.4s ease-in-out;
    transform: translate(-50%, -50%);
  }
  
  &__span:nth-child(1) {
    top: 25%;
  }

  &__span:nth-child(3) {
    top: 75%;
  }


}

.hamburger.is-active .hamburger__span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hamburger.is-active .hamburger__span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .hamburger__span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}


.sidebar-menu{
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  transition: 0.3s ease;
  scroll-behavior: smooth;
  z-index: 98;
  overflow-y: auto;
  background-color: #fff;

  @include media(large){
    display: none;
  }

  &__closed{
   
    // background-color: lightcoral;
    padding: 80px 20px 20px 20px;


    display: flex;
    align-items: center;

    .hamburger-closed{
      width: 45px;
      height: 45px;
      // background-color: purple;
      margin-left: auto;
      position: relative;
      // z-index: 100;
      cursor: pointer;
    
      // @include media(large){
      //   display: none;
      // }
    
      &__span{
        height: 5px;
        width: 100%;
        background-color: $dark-red;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: 0.4s ease-in-out;
        transform: translate(-50%, -50%);
      }
      
      &__span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &__span:nth-child(2) {
        opacity: 0;
      }
    
      &__span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    
    }
    
    .hamburger-closed.is-active .hamburger__span:nth-child(1) {
      top: 25%;
    }
    
    .hamburger-closed.is-active .hamburger__span:nth-child(3) {
      top: 75%;
    }
  }

  &__container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    // background-color: lightblue;

    .search-form-mobile{
      position: relative;
      margin-bottom: 24px;

      .search-field{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        border-radius: 10px;
        border: 1px solid $off-black;
      }

      input::placeholder{
        padding-left: 10px;
      }

      input[type="search"]:focus {
        outline: none;
        box-shadow: none; /* Removes any additional shadow */
        padding-left: 5px;
      }

      input[type="search"]::-webkit-search-cancel-button {
        appearance: none; /* Hides the clear button */
        display: none; /* Ensures it's not visible */
      }

      .search-submit{
        display: none
      }

      .bi-search{
        position: absolute;
        font-size: 20px;
        right: 10px;
        top: 2px;
        cursor: pointer;
      }
    }

    .cta-mobile{
      @extend %button-styles;

      background-color: $light-orange;
      text-transform: capitalize;
      margin-bottom: 24px;
      padding: 15px 0;
      width: 100%;
      border-radius: 0;
      text-align: center;
      font-weight: 500;
      transition: none;
    
      @extend %button-hover;
    }

    .paragraph{
      text-align: center;
    }

    .social-font-mobile {
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      .bi-facebook,
      .bi-instagram
      {
        color: $dark-orange;
      }
    }
  }
}

.sidebar-menu.is-active{
  right: 0;
}


.nav-mobile{
  width: 100%;
  position: relative;
  
}


.menu-list-mobile{
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list-mobile li {
  position: relative;

}

.vacations-drop-down-menuMobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bi-chevron-down{
  font-size: 24px;
  display: inline-block;
  transition: 0.5s;
  cursor: pointer;
}

.bi-chevron-down.active{
  transform: rotate(-180deg);
  transition: 0.5s;
}

.menu-list-mobile a {
  display: block;
}



.submenu-mobile {
  height: 0;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: height 0.5s ease, opacity 0.1s ease, transform 0.5s ease;

  &__item{
    border-bottom: none;
  }
}


.submenu-mobile.active {
  height: auto; /* Allows it to expand to its content height */
  opacity: 1;
  transform: scaleY(1);
}


//afaf


.nav-mobile ul{
  margin-bottom: 0;
  padding-left: 0;
}

.nav-mobile ul li{
  border-bottom: solid 1px $off-black;
  list-style: none;
  padding: 15px;
  // background-color: yellow;
}

.nav-mobile ul li:last-child{
  border-bottom: none;
}
.nav-mobile ul li a{
  text-decoration: none;
  color: $dark-red;
  font-weight:500;
  display: block;
}

.nav-mobile ul li a:hover{
  color: $light-orange;
}


.custom-logo{
  width: 100%;
  aspect-ratio: 3/4;
  height: auto;
  object-fit: scale-down;
}


.search-form-box{
  display: none;
}


@media (max-width: 678px) {
  .site-header__util{
    display: none;
  }
}


@media (min-width: 1024px) {
  /**** Top-header ****/
  .top-header{
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    padding: 0 10%;
    box-shadow: 0px 4px 10px rgba(100, 100, 111, 0.2);
  }
  
  .top-header p{
    margin-bottom: 0;

    span{
      color: $dark-orange;
    }
  }
  
  .top-header-social-font{
    display: flex;
    gap: 20px;
    .bi-facebook,
      .bi-instagram
      {
        color: $off-black;
      }
  }
  
  .bi-facebook,
  .bi-instagram{
    font-size: 25px;
  }
  // header
    .site-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 5%;
      background-color: transparent;
    }
    
    .site-brading {
      cursor: pointer;
      z-index: 2;
    }
    
    .main-navigation{
      z-index: 2;
    }
    #primary-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
    }
    
    .menu-header-menu-container ul li {
      // display: inline-block;
      padding: 0px 5px;
      border-bottom: none;
    }
    
    .menu-header-menu-container ul li a {
      color: $dark-green;
      transition: all 0.3s ease 0s;
      text-transform: uppercase;
    }
    
    .menu-header-menu-container ul li a:hover {
      transition: all 0.3s ease 0s;
      color: $light-orange;
    }
    
    .sub-menu{
      display: flex;
      flex-direction: column;
      padding: 10px;
      border: solid 0.3px $light-orange;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      background-color: white;
    }
  
    
    .sub-menu li a{
      padding: 10px 0;
      color: $dark-red;
      text-transform: capitalize;
    }
    
    .site-header__util{
      min-width: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .cta {
      @include buttons-design($light-orange, 16px 20px);
      @include buttons-hover();
      text-transform: uppercase;
      font-weight: 500;
    }
    
    
    .bi-search {
      display: block;
      font-size: 25px;
      cursor: pointer;
    }
  
    .search-form-box{
      position: fixed;
      top: -500px;
      z-index: 101;
      transition: top 0.3s ease;
      display: block;

      .search-field{
        position: absolute;
        left: 5%;
        right: 5%;
        top: 40%;
        padding: 10px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $off-black;
      }

      .bi-x-lg{
        position: absolute;
        top: 42%;
        right: 6%;
        font-size: 24px;
        cursor: pointer;
      }

      input[type="search"]:focus {
        outline: none;
        box-shadow: none; /* Removes any additional shadow */
      }

      input[type="search"]::-webkit-search-cancel-button {
        appearance: none; /* Hides the clear button */
        display: none; /* Ensures it's not visible */
      }

      .search-submit{
        display: none
      }

    }
    
    .search-form-box.is-active{
      top: 0;
      left: 0;
      right: 0;
      height: 160px;
      padding: 20px;
      background-color: #fff;  
      
    }
  
    
  }