$line-height: 1.5;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: $line-height;
}

body h1,
.h1 {
  font-size: clamp(2.4375rem, 5vw + 1.25rem, 3.8125rem);
}

body h3,
.h3 {
    font-size: clamp(2rem, 4.5vw + 1rem, 3rem);
}

body h4,
.h4 {
    font-size: clamp(1.25rem, 4vw + 1rem, 2rem);
}

body .blog-card h4{
  font-size: clamp(1.25rem, 4vw + 1rem, 1.50rem);
}
