@font-face {
  font-family: youngSerif;
  src: url(../fonts/young-serif.woff2);
}

$line-height: 1.5;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: $line-height;
}

body h1,
.h1 {
  font-size: clamp(2.4375rem, 1.8125rem + 3.125vw, 3.8125rem);
}

body h2,
.h2 {
  font-size: clamp(2rem, 1.5455rem + 2.2727vw, 3rem);
}

body h3,
.h3 {
  font-size: clamp(1.5625rem, 1.1648rem + 1.9886vw, 2.4375rem);
}

body h4,
.h4 {
  font-size: clamp(1.25rem, 0.9091rem + 1.7045vw, 2rem);
}

body .specialties-slider h4,
body .testimonial h4,
body .blog-card h4 {
  font-size: clamp(1.25rem, 1.1364rem + 0.5682vw, 1.5rem);
}

.vacation-buttons p {
  font-family: youngSerif, serif;
  font-size: clamp(1rem, 0.6585rem + 1.7073vw, 1.875rem);
}
