.all-inclusive-page {
  .all-inclusive-intro,
  .unique-intro {
    margin: 5rem auto 0 auto;

    h3 {
      color: $dark-red;
      width: 100%;
    }

    .container.text-center {
      margin: 6rem auto;

      font-size: 1.125rem;

      a {
        color: $dark-orange;
      }

      a:hover {
        color: $dark-green;
      }
    }

    > div:first-of-type {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

      img {
        aspect-ratio: 5/4;
        object-fit: cover;
      }
    }

    > div div {
      flex: 0 1 350px;
    }

    a {
      width: 170px;
    }

    .card-buttons {
      margin-top: 0;
      justify-content: center;

      a {
        margin-top: 0;
      }
    }
  }

  section {
    margin-bottom: 4rem;
  }
}

@media (min-width: 768px) {
  .all-inclusive-page {
    .all-inclusive-intro > div:first-of-type,
    .unique-intro > div:first-of-type {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr auto 1fr;
      row-gap: 1rem;
      column-gap: 1.5rem;

      div:first-of-type {
        grid-column: 2 / span 1;
        grid-row: 1 / span 4;
      }

      div:last-of-type {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
      }
    }

    .all-inclusive-intro h3,
    .unique-intro h3 {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }
}
