
.contact-title {
    font-family: "Young Serif", serif;
    font-size: clamp(2rem, 1.5455rem + 2.2727vw, 3rem);
}

.contact-jen {
    margin-top: 4rem;
    .contact-page {
        grid-template-columns: 1fr !important;
        margin: 4rem 0;
        gap: 4rem;
    
        h3 {
            color: $dark-red;
        }
    
        h4 {
            color: $dark-green;
        }
    
        .contact-form {
            form {
                max-width: 100%;
                width: 100%;
                
                .form-layout {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
        
                    label {
                        font-weight: 700;
                    }
        
                    span {
                        input {
                            padding: 10px 20px;
                            border: 1px solid rgba($dark-red, 0.25);
                            border-radius: 8px;
                            width: 100%;
                        }
                    }
        
                    .wpcf7-submit {
                        @include button-base($light-orange, 2px solid $light-orange);
                    }
                }
            }
        }
    
        .contact-info {
            .jen-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
    
                .info {
                    align-items: center;
                    justify-content: center;
                }
            }
    
            .social-contact {
                div {
                    flex-direction: row;
                    width: 100%;
                    gap: 10px;
    
                    figure {
                        width: 10%;
                        img {
                            object-fit: scale-down !important;
                            height: 50px;
                        }
                    }
    
                    p {
                        width: 85%;
                    }
                }
            }
        }
    
        @media screen and (min-width: 950px) {
            grid-template-columns: repeat(2, 1fr) !important;
    
            .contact-form {
                form {
                    .form-layout {
                        span {
                            input {
                                min-width: 25vw;
                            }
                        }
                        .wpcf7-submit {
                            max-width: 180px;
                        }
                    }
                }
            }
    
            .contact-info {
                .jen-info {
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 2rem;
                    margin: 3rem 0 5rem;
    
                    figure {
                        img {
                            width: 100px !important;
                            height: auto !important;
                            aspect-ratio: 1 /1;
                        }
                    }
    
                    .info {
                        align-items: flex-start;
                        gap: 10px;
                    }
                }
            }
        }
    }
}


.contact-banner {
    .banner-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;

        h3 {
            text-shadow: 0px 6px 4px rgba(50, 5, 7, 0.25);
        }

        div {
            justify-content: center;
            align-items: center;

            p {
                font-weight: 500;
            }
        }
    }
}