.im-jen {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  margin: 4rem auto;

  img {
    aspect-ratio: 2 / 3;
    object-fit: cover;
    box-shadow: 0px 6px 4px 0px rgba(50, 5, 7, 0.25);
  }

  .jen-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      color: $dark-red;
    }
  
  
    a {
      margin-top: 1rem;
    }
  }
}

.layout-reversed,
.layout-default {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 300px;
  justify-content: center;

  a {
    width: 170px;
  }
}

@media (min-width: 768px) {
  .im-jen {
    align-items: center;
    flex-direction: row;

    > div {
      max-width: 48%;
    }

    a {
      width: 25vw;
    }
  }

  .home-specials {
    > a {
      margin-top: 3rem;
    }
  }

  .layout-default,
  .layout-reversed {
    max-width: unset;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    > div {
      max-width: 48%;

      p {
        margin: 1.5rem 0;
      }
    }
  }

  .layout-reversed {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .im-jen {
    a {
      width: 15vw;
    }
  }
}
