.im-jen {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin: 4rem auto;

  h3 {
    color: $dark-red;
  }

  img {
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }

  a {
    margin-top: 1rem;
    width: 60vw;
  }
}

.home-specials {
  margin: 4rem auto;

  img {
    aspect-ratio: 5/4;
    object-fit: cover;
  }

  h3 {
    color: $dark-red;
    margin-bottom: 1.5rem;
  }

  h4 {
    color: $dark-green;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  > a {
    color: $dark-red;
    text-decoration: underline;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  a:hover {
    color: $dark-orange;
    text-decoration: underline;
  }
}

.layout-reversed,
.layout-default {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 300px;
  justify-content: center;

  a {
    width: 170px;
  }
}

@media (min-width: 768px) {
  .im-jen {
    align-items: center;

    > div {
      max-width: 48%;
    }

    a {
      width: 25vw;
    }
  }

  .home-specials {
    > a {
      margin-top: 3rem;
    }
  }

  .layout-default,
  .layout-reversed {
    max-width: unset;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    > div {
      max-width: 48%;

      p {
        margin: 1.5rem 0;
      }
    }
  }

  .layout-reversed {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .im-jen {
    a {
      width: 15vw;
    }
  }
}
