/** Quote Form Step **/
.form-header {
    font-family: "Young Serif", serif;
    font-size: clamp(2rem, 1.5455rem + 2.2727vw, 3rem);
}

.quote-page {
  background: url("../img/tropical-abstract-bg6.webp") center center / cover
    no-repeat;
  padding-bottom: 7rem;

  @media screen and (min-width: 950px) {
    padding-top: 5rem;
  }
}

.quote-form {
  background-color: $cream;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -5rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 4px 0px rgba($dark-red, 0.25);
  border: 1px solid rgba($dark-red, 0.25);
  z-index: 2;
  width: 70%;
  max-width: 960px;

  @media screen and (min-width: 1024px) {
    min-height: 920px;
  }

  &.step-1 {
    padding: 3rem 1.5rem 4rem;
    transition: padding 0.3s ease-in-out;
  }

  &.step-2 {
    padding: 3rem 1.5rem 4rem;
  }

  .steps-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 6px 4px 0px rgba($dark-red, 0.25);
    border: 1px solid rgba($dark-red, 0.25);
    z-index: 2;
    width: 80%;
    max-width: 960px;

    @media screen and (min-width: 1024px) {
        min-height: 920px;
    }
 
    &.step-1 {
        padding: 3rem 1.5rem 4rem;
        transition: padding 0.3s ease-in-out;
        @media screen and (min-width: 950px) {
            padding-bottom: 0;
        }
    }

    &.step-2 {
        padding: 3rem 1.5rem 7rem;
        transition: padding 0.3s ease-in-out;
        @media screen and (min-width: 800px) {
            padding-bottom: 4rem;
        }
    }

        @media screen and (min-width: 800px) {
          width: calc(100% + 20vw);
        }
      }

      &.active {
        background-color: $light-orange;
      }

      &.active .step-number {
        background-color: $white;
      }
    }
  }

  .form-container {
    margin-top: 3rem;

    form {
      .form-title {
        border-bottom: 1px solid $dark-green;

        h3 {
          color: $dark-green;
        }
      }

      .uacf7-step {
        position: relative;

        .uacf7-row:last-of-type {
          .uacf7-col-6 {
            justify-content: space-between;
          }
        }

                @media screen and (min-width: 800px) {
                    width: calc(100% + 22vw);
                }
            }

          label {
            font-weight: 700;
            display: flex;
            flex-direction: column;
            gap: 12px;
          }

          span {
            input {
              padding: 10px 20px;
              border: 1px solid rgba($dark-red, 0.25);
              border-radius: 8px;
            }

            select {
              border: 0;
              vertical-align: middle;
              -webkit-appearance: none;
              appearance: none;
              padding: 10px 20px;
              border: 1px solid rgba($dark-red, 0.25);
              border-radius: 8px;
              cursor: pointer;
            }
          }
        }

        &.step-start {
          p:not(.form-intro) {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            align-items: center;
            justify-content: center;
            margin-bottom: -5rem;
            gap: 1rem;

            @media screen and (min-width: 950px) {
              margin-bottom: -1.5rem;
            }

            .uacf7-next {
              width: 150px !important;
              @include button-base($light-orange, 1px solid $light-orange);
              grid-row: row2;
              grid-column: 5 / span 1;

              &:hover {
                background-color: $white;
                color: $dark-green;
                border: 1px solid $dark-green;
              }
            }

            span.wpcf7-spinner {
              background-color: $dark-red;
              grid-column: 5 / span 1;
              place-self: center;
            }
          }
        }

        &.step-end {
          .submit-btn {
            display: flex;
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.2rem;
            width: 100%;

            input {
              @include button-base($white, 1px solid $dark-green);
              max-width: 220px;
              min-width: fit-content;
              padding: 0 10px;
            }

                &.step-start {
                    p:not(.form-intro) {
                        display: grid;
                        grid-template-columns: repeat(9, 1fr);
                        align-items: center;
                        justify-content: center;
                        margin-bottom: -5rem;
                        gap:1rem;

                        @media screen and (min-width: 950px) {
                            margin-bottom: -1.5rem;
                        }
    
                        .uacf7-next {
                            width: 150px !important;
                            @include button-base($light-orange, 2px solid $light-orange);
                            grid-row: row2;
                            grid-column: 5 / span 1;
    
                            &:hover {
                                background-color: $white;
                                color: $dark-green;
                                border: 2px solid $dark-green;
                            }
                        }
    
                        span.wpcf7-spinner {
                            background-color: $dark-red;
                            grid-column: 5 / span 1;
                            place-self: center;
                        }
                    }
                }
              }
            }

                &.step-end {
                    .submit-btn {
                        display: flex;
                        position:absolute;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 0.2rem;
                        width: 100%;

                        input {
                            @include button-base($white, 2px solid $dark-green);
                            max-width: 220px;
                            min-width: fit-content;
                            padding: 0 10px;
                            order: 1;
                        }

                        p {
                            .uacf7-prev {
                                width: 150px !important;
                                min-width: 210px;
                                @include button-base($light-orange, 2px solid $light-orange);

                                &:hover {
                                    background-color: $white;
                                    color: $dark-green;
                                    border: 1px solid $dark-green;
                                }
                            }
                        }

                        span.wpcf7-spinner {
                            background-color: $dark-red;
                            order: -1;
                        }

                        @media screen and (min-width: 800px) {
                            display: grid;
                            grid-template-columns: repeat(9, 1fr);

                            input {
                                grid-column: 6 / span 1;
                                grid-row-start: row2;
                                margin-top: 5px;
                            }

                            span.wpcf7-spinner {
                                order: 0;
                                grid-column-start: 5;
                                justify-self: center;
                                margin: 0;
                            }

                            p {
                                grid-column: 4 / span 1;
                                grid-row-start: row2;
                                margin: 0;
                            }
                        }
                    }
                }
            }

            @media screen and (min-width: 800px) {
              display: grid;
              grid-template-columns: repeat(9, 1fr);

              input {
                grid-column: 4 / span 1;
                grid-row-start: row2;
                margin-top: 5px;
              }

              span.wpcf7-spinner {
                order: 0;
                grid-column-start: 3;
                margin: 0;
              }

              p {
                grid-column: 6 / span 1;
                grid-row-start: row2;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    margin-top: 0;

    .steps-container {
      .steps-step {
        gap: 10px;
        min-width: 200px;

        .step-info {
          display: inline-block;
        }

        &:not(:last-child)::after {
          width: 100%;
        }
      }
    }

    .form-container {
      form {
        .form-title {
          display: flex;
          width: 100%;
          gap: 1rem;

          h3 {
            width: calc((100% / 2) - 1rem);
          }

          p {
            width: calc((100% / 2) - 1rem);
          }
        }
      }
    }
  }
}

/** Failed notice from Contact Form 7 **/
.wpcf7-form {
    .wpcf7-response-output {
        position: absolute;
        bottom: -9%;
        color: $white;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 1024px) {
            bottom: -6%;
        }
    }
}


/** Quote Form Confirmation **/
.confirmation-container {
  background: url("../img/tropical-abstract-bg6.webp") center center / cover
    no-repeat;

  @media screen and (min-width: 950px) {
    padding-top: 5rem;
  }

  .confirmation {
    background-color: $cream;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5rem 0;
    box-shadow: 0px 6px 4px 0px rgba($dark-red, 0.25);
    border: 1px solid rgba($dark-red, 0.25);
    z-index: 2;
    width: 70%;
    max-width: 960px;

    .steps-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      box-shadow: unset;

      .steps-step {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: $white;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0px 6px 4px 0px rgba($dark-red, 0.25);

        p {
          margin: 0 !important;
        }

        .step-number {
          width: 30px;
          height: 30px;
          line-height: 30px;
          background-color: $light-orange;
          color: $dark-red;
          font-weight: 500;
          border-radius: 50%;
          text-align: center;
          transition: background 0.3s, color 0.3s;
        }

        .step-info {
          display: none;
        }

        &:not(:last-child)::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          width: 100%;
          height: 2px;
          background-color: $dark-red;
          transform: translateY(-50%);

          @media screen and (min-width: 450px) {
            width: calc(100% + 10vw);
          }

          @media screen and (min-width: 550px) {
            width: calc(100% + 13vw);
          }

          @media screen and (min-width: 650px) {
            width: calc(100% + 17vw);
          }

          @media screen and (min-width: 800px) {
            width: calc(100% + 20vw);
          }
        }

        &.confirmed {
          background-color: $bright-yellow;

          .step-number {
            background-color: $white;
          }
        }
      }
    }

    .confirmation-content {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      position: relative;

      img {
        width: 50px;
        height: 50px;
      }

      h3 {
        color: $dark-green;
        text-decoration: uppercase;
      }

      p {
        text-align: center;

        > a {
          color: unset;
          text-decoration: underline;
        }
      }

      .btns {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin-bottom: -1.5rem;

                a:first-child {
                    @include button-base($light-orange, 2px solid $light-orange);
                }

                a:last-child {
                    @include button-base($white, 2px solid $dark-green);
                }
            }
        }
    
        @media screen and (min-width: 1024px) {
            margin-top: 0;

      .steps-container {
        .steps-step {
          gap: 10px;
          min-width: 200px;

          .step-info {
            display: inline-block;
          }

          &:not(:last-child)::after {
            width: 100%;
          }
        }
      }

      .confirmation-content {
        padding-bottom: 4rem;
        .btns {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
